form .header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

form .bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.tr-panel {
    position: fixed;
    top: 60px;
    right: 20%;
    z-index: 1;
    font-size: 25px;
    padding: 5px;
    border: solid 1px #959595;
    border-radius: 6px;
    color: inherit;
    background-color: #eee;
}
.tr-panel a {
    margin: 1px;
}

.tr-panel a:hover,
.tr-panel a:hover i{
    text-decoration: none;
}

.navbar {
    z-index: 2;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: black;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#loading {
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}
