
    <div class="jumbotron text-center" ng-show="loading">
        Loading ....
    </div>


<div class="row" ng-show="!loading">
    <div class="col-md-12">
        <div class="tr-panel ">
            <a ng-click="onSubmit()" title="Save">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </a>
            <a href="{{trUrl}}/file" title="Download" download="download">
                <i class="fa fa-download" aria-hidden="true"></i>
            </a>

        </div>
        <form name="login" class="form-horizontal" novalidate method="post">
            <fieldset>
                <legend class="text-center header">
                    {{ translation.application.name }} - {{ translation.locale.name }}
                </legend>
                <form-group field-errors="errors.__all__" ng-show="errors.__all__">
                    <form-group-body>&nbsp;</form-group-body>
                </form-group>

                <form-group field-errors="errors[value.key]" show-label="false" ng-repeat="value in translation.translation">
                    <form-group-body>
                    <span id="helpBlock" class="help-block well well-sm">
                        {{ value.origin }}
                    </span>
                        <input id="{{value.key}}"
                               name="{{value.key}}"
                               type="text"
                               placeholder="Translation"
                               class="form-control"
                               ng-model="model[value.key]"
                               ng-value="value.tr"
                        >
                    </form-group-body>
                </form-group>

                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <button ng-click="onSubmit()" class="btn btn-primary btn-lg">
                            Submit
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
</div>

