<div class="row">
    <div class="col-md-12">
        <form name="login" class="form-horizontal" novalidate method="post">
            <fieldset ng-disabled="isDisabled">
                <legend class="text-center header">Change Password</legend>
                <form-group field-errors="errors.__all__" ng-show="errors.__all__">
                    <form-group-body>&nbsp;</form-group-body>
                </form-group>

                <form-group field-errors="errors.old_password">
                    <form-group-label>
                         <i class="fa fa-lock bigicon"></i>
                    </form-group-label>
                    <form-group-body>
                        <input id="old_password" name="old_password" type="password"
                               placeholder="Old Password"
                               class="form-control" ng-model="user.old_password">
                    </form-group-body>
                </form-group>

                <form-group field-errors="errors.new_password1">
                    <form-group-label>
                         <i class="fa fa-lock bigicon"></i>
                    </form-group-label>
                    <form-group-body>
                        <input id="new_password1" name="new_password1" type="password"
                               placeholder="New Password"
                               class="form-control" ng-model="user.new_password1">
                    </form-group-body>
                </form-group>

                <form-group field-errors="errors.new_password2">
                    <form-group-label>
                         <i class="fa fa-lock bigicon"></i>
                    </form-group-label>
                    <form-group-body>
                        <input id="new_password2" name="new_password2" type="password"
                               placeholder="New Password Confirmation"
                               class="form-control" ng-model="user.new_password2">
                    </form-group-body>
                </form-group>

                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <button ng-click="submit()" ng-disabled="isDisabled"
                                class="btn btn-primary btn-lg">
                            Save
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>