{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="sxTrApp" >
  <head>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title ng-bind="pageTitle + ' | {{ project_title }}'"></title>

    <!-- Bootstrap -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vendor/font-awesome-4.6.1/css/font-awesome.min.css' %}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{% static 'vendor/html5shiv/html5shiv.min.js' %}"></script>
      <script src="{% static 'vendor/respond/respond.min.js' %}"></script>
    <![endif]-->
<script type="text/ng-template" id="generalError.html">
    <div class="alert alert-danger" role="alert">
        Well this is embarrassing. Some error happened during processing your request. Sorry about that.
    </div>
</script>
  </head>
  <div >
  <div ng-show="pageLoading" id="overlay">
      <img id="loading" src="{% static 'sxtr/preloader.gif' %}">
  </div>
    <nav class="navbar navbar-inverse ">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
                  data-toggle="collapse"
                  data-target="#navbar"
                  aria-expanded="false"
                  aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">{{ project_title }}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" nav-bar-nav>
          <ul class="nav navbar-nav" >
            <li><a href="#/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav pull-right "  ng-switch="auth.isAuthorized().toString()">
            <li ng-switch-when="false"><a href="#/login">Login</a></li>
            <li ng-switch-when="false"><a href="#/register">Register</a></li>
            <li ng-switch-when="true">
              <a href="#/profile" ng-bind="'Welcome ' + auth.currentUser().full_name() + '!'"></a>
            </li>
            <li ng-switch-when="true"><a href="#/logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container" ng-view>

    </div><!-- /.container -->
    <div class="container">
        <div ng-show="failedChangeRoute" ng-include="'generalError.html'"></div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed-->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <link href="{% static 'sxtr/app.css' %}" rel="stylesheet">
    <script src="{% static 'vendor/angular/angular.min.js' %}"></script>
    <script src="{% static 'vendor/angular/angular-route.min.js' %}"></script>
    <script src="{% static 'vendor/angular/angular-cookies.min.js' %}"></script>

    {% for filename in JS_APP_FILES %}
      <script src="{% static filename %}"></script>
    {% endfor %}
  </body>
</html>